*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
header video{
    height: 100vw;
    width: 100vh;
}
#taskbar{
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    height: 150px ;
    font-size: larger;
}
#taskbar img{
    height: 50px;
}
#taskbar button{
    height: 60px;
    width: 150px;
    font-size: large;
    font-weight: 700;
}
#page1{
    /* background-color: #144bcf; */
    background-color: #069bad;
    height: 60%;
    
    
}
#text1 button{
    height: 50px;
    width: 150px;
    border-radius: 9%;
    border-color: transparent;
    font-size: large;
    font-weight: 700;
}
#text1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 8%;
    color: azure;
    
}
#textvideo{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
}
h1{
    font-size: 55px;
}
h4{
    font-size: 25px;
    color: #666;
}
#cpsbro{
    display: flex;
   justify-content:space-around;
   /* padding-right: 40%; */
   
}
#sect1{
    display: flex;
    justify-content: space-around;
}
#afe, #cad1, #tpt, #idc, #st20, #fcc img{
    border-color: black;
    border-radius: 10%;
}
#sect2{
     display: flex;
    justify-content: space-around;
}
#page4{
    display: flex;
    justify-content: space-around;
}
h3{
    font-size: medium;
    color:  #666;
}
h5{
    font-size: 25px;
}
#taskbar iframe{
    margin-top: 600px;
    margin-left:800px ;
    /* width: ; */
}
#video1 iframe{
    margin-top: -20%;
    margin-left: 57%;
    border-radius: 15%;
    border: 5px color(srgb rgb(4, 4, 4) rgb(0, 0, 0) rgb(0, 0, 0))
}
#textvideo{
    height:100vh ; 
    margin-top: 50px;
    
}
#hiet img{
    width: 500px;
    height: 200px;
   padding-left: 40%;
}
#Rath img{
   width: 500px;
    height: 200px;  
    padding-right: 40%;
}
#page2{
    gap: 30%;
}
/* #button2, #button3 button{

} */
#afe img{
    width: 25vw;
    height: 25vh;
}
#page3{
    display: flex;
    flex-direction: column;
    align-items: centre;
    margin: 70px;
    gap: 80%;
}
#page3 h1,h3{
    display: flex;
    justify-content: center;
    
}
#cad img{
    width: 25vw;
    height: 25vh;
}
#page4{
    background-color: #eaf6fb;
}
#pg4vid iframe{
    margin: 100px;
    border-radius: 10%;
}
#pg4txt{
    margin: 40px;
}
h8{
    color: #17939b;
    font-size: 30px;
}
#pg4txt p{
    font-size: 20px;
    color: #666;
    font-weight: 400;
}
#hiet{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Rath{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tpt img{
    width: 25vw;
    height: 25vh;}

    #sect2 img{
    width: 25vw;
    height: 25vh;}
#sect1{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.me{
    position: absolute;
    width: 100vw;
    opacity: 0.3;
}